$def with (log)

<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"></meta>
        <title>YawsPi: Log</title>
    </head>
<body>
    <form method="post"> 
        <button name="cancel" title="Back to home page"><img src="static/icons/back.png" align="absmiddle"> Back to home page</button>
        <button name="reload" title="Refresh log."><img src="static/icons/update.png" align="absmiddle"> Refresh log</button>
    </form>
    <H3>Log:</H3>
$:log
    <p></p>
</body>
</html>
