$def with (gv,frm)

<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"></meta>
        <title>YawsPi: Options</title>
    </head>
<body>
    <H3>Options</H3>
    <form method="post"> 
        $:frm.render()
        <p></p>
        <button name="submit" title="Submit all changes"><img src="static/icons/submit.png" align="absmiddle"> Submit</button>
        <button name="cancel" title="Cancel changes and go back to home page"><img src="static/icons/cancel.png" align="absmiddle"> Cancel</button>
    </form>
</body>
</html>
