$def with ()

<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"></meta>
        <title>YawsPi: Reboot</title>
    </head>
<body>
    <H3>Really reboot?</H3>
    <form method="post"> 
        <button name="reboot" title="Reboot system now."><img src="static/icons/quit.png" align="absmiddle"> Reboot</button>
        <button name="cancel" title="Cancel and go back to home page."><img src="static/icons/cancel.png" align="absmiddle"> Cancel</button>
    </form>
    <p></p>
</body>
</html>
